/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
body {
  font-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  background: #ffffff;
  margin: 0;
}
/* line 21, ../sass/screen.scss */
body .header {
  padding: 1em 0;
  border-top: 3px solid #FF8D1B;
}
/* line 25, ../sass/screen.scss */
body .header .container {
  width: 80%;
}
/* line 29, ../sass/screen.scss */
body .header .container .logo {
  float: left;
}
/* line 33, ../sass/screen.scss */
body .header .container .logo a {
  display: block;
  text-decoration: none;
}
/* line 37, ../sass/screen.scss */
body .header .container .logo a h1 {
  font-size: 1.8em;
  color: #212121;
  text-transform: uppercase;
  background: url(../images/1.jpg) no-repeat 80px 6px;
  padding-right: 1.67em;
  font-weight: 900;
  padding-bottom: .3em;
}
/* line 46, ../sass/screen.scss */
body .header .container .logo a h1 span {
  color: #FF8D1B;
  font-size: 1em;
  display: block;
  font-weight: 300;
  letter-spacing: 5px;
  text-align: right;
  line-height: -1;
}
/* line 64, ../sass/screen.scss */
body .header .container .search {
  float: left;
  width: 40%;
  margin-left: 9em;
  margin-top: .7em;
}
/* line 71, ../sass/screen.scss */
body .header .container .search input[type="text"] {
  outline: none;
  border: none;
  background: #EFEFEF;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #999;
  width: 78%;
  float: left;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
/* line 85, ../sass/screen.scss */
body .header .container .search input[type="submit"] {
  outline: none;
  border: none;
  background: #212121;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
  width: 22%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: 8px;
}
/* line 100, ../sass/screen.scss */
body .header .container .enregistrement {
  float: right;
  margin-top: 1em;
}
/* line 106, ../sass/screen.scss */
body .header .container .enregistrement li {
  padding-right: 1em;
  display: inline-block;
  color: #212121;
  font-size: 1em;
}
/* line 112, ../sass/screen.scss */
body .header .container .enregistrement li i {
  padding-right: 1em;
}
/* line 114, ../sass/screen.scss */
body .header .container .enregistrement li a {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background: #FF8D1B;
  text-align: center;
  padding: 6px 30px;
  font-weight: bold;
}
/* line 137, ../sass/screen.scss */
body .navbar {
  margin-bottom: 0px;
}
/* line 144, ../sass/screen.scss */
body .movies_nav {
  background: #FF8D1B;
}
/* line 147, ../sass/screen.scss */
body .movies_nav .navbar-default {
  background: none;
  border: none;
}
/* line 152, ../sass/screen.scss */
body .movies_nav .navbar-left {
  float: none !important;
}
/* line 156, ../sass/screen.scss */
body .movies_nav .navbar-nav {
  float: none;
  margin: 0;
}
/* line 161, ../sass/screen.scss */
body .movies_nav .navbar-nav li {
  float: left;
  border-right: 1px dotted #fff;
  width: 14.27%;
  text-align: center;
}
/* line 168, ../sass/screen.scss */
body .movies_nav .navbar-nav li a {
  color: #fff;
  text-transform: uppercase;
}
/* line 172, ../sass/screen.scss */
body .movies_nav .navbar-nav li a:hover {
  color: #fff;
  background-color: #212121;
}
/* line 177, ../sass/screen.scss */
body .movies_nav .navbar-nav li a:focus {
  color: #fff;
  background-color: #212121;
}
/* line 185, ../sass/screen.scss */
body .movies_nav .navbar-nav li:active {
  border-right: none;
}
/* line 192, ../sass/screen.scss */
body .movies_nav .navbar-nav .open .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 0px 0;
  margin: 2px 0 0;
  margin-top: 0px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0px solid #ccc;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
}
/* line 218, ../sass/screen.scss */
body .movies_nav .navbar-nav .open .dropdown-menu li {
  background-color: #FF8D1B;
  width: 100%;
  margin-bottom: 1px;
  border-right: 0px;
  padding: 10px 15px;
}
/* line 225, ../sass/screen.scss */
body .movies_nav .navbar-nav .open .dropdown-menu li a {
  display: block;
}
/* line 229, ../sass/screen.scss */
body .movies_nav .navbar-nav .open .dropdown-menu li a:hover {
  display: block;
  background-color: #FF8D1B;
}
/* line 234, ../sass/screen.scss */
body .movies_nav .navbar-nav .open .dropdown-menu li a:focus {
  background-color: #FF8D1B;
}
/* line 247, ../sass/screen.scss */
body .movies_nav .navbar-collapse.collapse {
  width: 100%;
}
/* line 257, ../sass/screen.scss */
body section h4.latest-text {
  border-left: 5px solid #ff8d1b;
  font-size: 2em;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: -100px;
  padding: 0.3em 0.5em;
  text-align: left;
}
/* line 276, ../sass/screen.scss */
body section ul#myTab {
  border: none;
  margin-bottom: 2em;
}
/* line 279, ../sass/screen.scss */
body section ul#myTab li {
  float: left;
  margin-bottom: -1px;
}
/* line 283, ../sass/screen.scss */
body section ul#myTab li a {
  background: #f3f1f1;
  border: none;
  border-radius: 0;
  font-size: 16px;
  color: black;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
/* line 295, ../sass/screen.scss */
body section ul#myTab li a:hover, body section ul#myTab li a:focus {
  background-color: #FF8D1B;
  border: none;
  border-radius: 0;
  color: #fff !important;
}
/* line 310, ../sass/screen.scss */
body .container {
  text-align: center;
}
/* line 315, ../sass/screen.scss */
body .container .date {
  text-align: left;
}
/* line 320, ../sass/screen.scss */
body .container .plusDeFilms {
  margin-top: 50px;
}
/* line 326, ../sass/screen.scss */
body .container .bt_plus {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background: #FF8D1B;
  text-align: center;
  padding: 15px 40px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 50px;
}
/* line 344, ../sass/screen.scss */
body .container .film .img-responsive {
  height: 230px;
}
/* line 350, ../sass/screen.scss */
body .container .film h6 a {
  margin-top: 10px !important;
  padding-bottom: 5px;
  color: black;
  display: block;
  text-align: center;
}
/* line 361, ../sass/screen.scss */
body .container .film .details_films {
  margin-bottom: 30px;
  display: block;
}
/* line 366, ../sass/screen.scss */
body .container .film .date {
  font-size: 0.8em;
  float: left;
}
/* line 372, ../sass/screen.scss */
body .container .film .prix {
  font-size: 0.8em;
  color: #FF8D1B;
  float: right;
  padding-right: 20px;
}
/* line 380, ../sass/screen.scss */
body .container .film .col-md-2 {
  padding: 0px;
}
/* line 387, ../sass/screen.scss */
body .container .carousel {
  margin-bottom: 0;
  margin-top: 40px;
  padding: 20px;
  border: solid 1px #dadada;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  margin-left: 37px;
}
/* line 398, ../sass/screen.scss */
body .container .carousel .col-md-2-5 {
  position: relative;
  float: left;
  width: 20%;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 406, ../sass/screen.scss */
body .container .carousel .col-md-11 {
  width: 90%;
}

/* line 427, ../sass/screen.scss */
.contact .carre_noir {
  background: #212121;
  height: 220px;
  padding: 15px;
  padding-bottom: 15px;
  color: white;
  text-align: left;
}
/* line 438, ../sass/screen.scss */
.contact .carre_noir h2 {
  font-size: 20px;
}
/* line 444, ../sass/screen.scss */
.contact .carre_noir ul li {
  padding-top: 5px;
  font-size: 15px;
}
/* line 448, ../sass/screen.scss */
.contact .carre_noir ul li a {
  color: white;
}
/* line 450, ../sass/screen.scss */
.contact .carre_noir ul li a:hover {
  color: #FF8D1B;
}
/* line 452, ../sass/screen.scss */
.contact .carre_noir ul li .btn:hover {
  color: white;
}
/* line 459, ../sass/screen.scss */
.contact .carre_noir .rond_orange {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #FF8D1B;
  text-align: center;
  line-height: 55px;
  margin: auto;
  margin-top: -35px;
}
/* line 472, ../sass/screen.scss */
.contact .carre_noir .rond_orange i {
  font-size: 25px;
}

/* line 483, ../sass/screen.scss */
.form_bas {
  margin-top: 32px;
}
/* line 487, ../sass/screen.scss */
.form_bas .form-group {
  padding: 5px;
}
/* line 491, ../sass/screen.scss */
.form_bas .form-group input {
  border-radius: 0px;
}
/* line 495, ../sass/screen.scss */
.form_bas .form-group textarea {
  border-radius: 0px;
}
/* line 500, ../sass/screen.scss */
.form_bas .form-group input[type="text"] {
  padding: 5px;
}
/* line 509, ../sass/screen.scss */
.form_bas .btn-primary {
  color: #fff;
  background-color: black;
  border-color: #2c0219;
  border-radius: 0px;
  border: 0px;
  text-align: left;
  float: left;
  margin: 20px 0px 15px;
}
/* line 519, ../sass/screen.scss */
.form_bas .btn-primary:hover {
  background-color: #FF8D1B;
}

/* line 532, ../sass/screen.scss */
footer {
  background: #212121;
  padding: 4em 0;
  color: white;
}
/* line 538, ../sass/screen.scss */
footer h2 {
  font-size: 2em;
  color: #FF8D1B;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: .5em;
}
/* line 547, ../sass/screen.scss */
footer input[type="email"] {
  outline: none;
  padding: 10px 10px;
  font-size: 14px;
  color: #999;
  width: 74.1%;
  background: #fff;
  border: none;
}
/* line 557, ../sass/screen.scss */
footer input[type="submit"] {
  outline: none;
  width: 25%;
  background: #FF8D1B;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  padding: 10px 0;
}
/* line 569, ../sass/screen.scss */
footer .footer_contour {
  border: 1px solid #fff;
  padding: 10px;
}
/* line 576, ../sass/screen.scss */
footer .footer_grille {
  padding-bottom: 2em;
  border-bottom: 1px solid #999;
  margin-bottom: 2em;
}
/* line 586, ../sass/screen.scss */
footer .footer_left p {
  color: #999;
  line-height: 1.8em;
}
/* line 597, ../sass/screen.scss */
footer .footer_right {
  text-align: right;
}
/* line 601, ../sass/screen.scss */
footer .footer_right li {
  display: inline-block;
  margin-left: 1em;
}
/* line 605, ../sass/screen.scss */
footer .footer_right li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 610, ../sass/screen.scss */
footer .footer_right li a:hover {
  color: #FF8D1B;
}

/* line 623, ../sass/screen.scss */
.shop_movies .shop_haut {
  padding-bottom: 15px;
  color: white;
  text-align: left;
}
/* line 629, ../sass/screen.scss */
.shop_movies .shop_haut .title {
  text-transform: uppercase;
  font-size: 1.3em;
  color: #212121;
  font-weight: bold;
  padding-bottom: 1em;
}
/* line 637, ../sass/screen.scss */
.shop_movies .shop_haut .image_gauche {
  padding: 0px;
}
/* line 641, ../sass/screen.scss */
.shop_movies .shop_haut .rectangle_orange {
  background: #FF8D1B;
  min-height: 321px;
  padding: 3em 0 0 3em;
  margin-bottom: 15px;
  width: 48.6%;
}
/* line 649, ../sass/screen.scss */
.shop_movies .shop_haut .rectangle_orange .slides img {
  width: 100%;
  display: block;
}
/* line 654, ../sass/screen.scss */
.shop_movies .shop_haut .rectangle_orange a {
  color: black;
}
/* line 656, ../sass/screen.scss */
.shop_movies .shop_haut .rectangle_orange p {
  margin: 0 0 10px;
}
